rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can create new runs, but can only read runs
    // where their user ID matches the one in the document.
    match /runs/{runId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}